<%= form_for(@article) do |f| %>
  <p class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <%= f.submit %>
<% end %>
