<%= form_for @article, html: { class: 'form' } do |f| %>
  <p>
    <%= f.text_field :title, class: 'field' , placeholder: 'Título' %>
  </p>
  <p>
    <div id="wmd-button-bar" class='field'></div>
    <%= f.text_area :body, id: 'wmd-input', class: 'field' %>
    <div id='wmd-preview' class='field'></div>
  </p>
  <%= f.submit "Enviar Artigo" %>
<% end %>

<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'wmd.css', media: "all" %>
<% end %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag "showdown.js" %>
  <%= javascript_include_tag "wmd.js" %>
<% end %>